.card {
  position: relative;
}

.card__image {
  width: 100%;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__del-btn {
  width: 32px;
  height: 32px;
  border: none;
  background: transparent url(../images/delete.svg) no-repeat center / 32px 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.card__del-btn:hover {
  cursor: pointer;
  background-image: url(../images/delete-hover.svg);
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 12px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 355px;
}

.card__like-btn {
  width: 23px;
  height: 20px;
  border: none;
  margin: 12px 0 0;
  background: transparent url(../images/like.svg) no-repeat center / 23px 20px;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

.card__like-btn_clicked {
  background-image: url(../images/like-clicked.svg);
  opacity: 1;
}

.card__like-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.card__like-btn_clicked:hover {
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 235px;
  }

  .card__like-btn {
    background-size: 20px 18px;
  }
}
